
@mixin aligncenterblock {
    margin-left: auto;
    margin-right: auto;
  }

@mixin addLike {
    .addCarte:focus .iLike {
        -webkit-text-stroke: 0.1vh white;
        transform: scale(1.15);
        background: linear-gradient(180deg, $ColorPremier, $ColorSecond);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // color: $ColorPremier;
      }
      
      .iLike {
        position: absolute;
        color: white;
        -webkit-text-stroke: 0.1vh black;
        transform-origin: 50% 50%;
        transition-duration: 1s;
      }
      
      .oui {
        -webkit-text-stroke: 0.1vh white;
        background: linear-gradient(180deg, $ColorPremier, $ColorSecond);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        &:hover {
          transform: scale(1.15);
          opacity: 1;
        }
        &:hover .non {
          opacity: 0;
        }
      }

      .non {
        color: white;
        -webkit-text-stroke: 0.1vh black;
        opacity: 1;
      }

      .main {
        bottom: 2vh;
        right: 4vh;
        font-size: 3vh;
      }

      .menu {
        top: 3.5vh;
        right: 3vh;
        font-size: 4vh;
      }

      

}