$moitier: 60%;
$marginItemSousheader: 2vh 0;
$GrandEcrans: 600px;
$ColorGeoVille: #353535;
$ColorBgVille: #eaeaea;
$ColorBgPresent: #f6f6f6;
$ColorPremier: #9356dc;
$ColorSecond: #ff79da;
$ColorTertiaire: #99e2d0;
$SflashBoxLeft: 12vh; /* width dans le FlashBoxLeft */ 
$TflashBoxLeft: 800ms; /* duration du block validation avec l'icône check-circle sortant de gauche */
$ColorError: #FF8585;
$FxAbscisse: 4.5vh; /* Espace entre chaque élément dans les sous-blocks du fonctionnement */
$FxCoef: 1.3; /* Coefficient si vous voulez réduit ou agrandit espaces entre les sous-blocks du fonctionnement*/