$moitier: 60%;
$marginItemSousheader: 2vh 0;
$GrandEcrans: 600px;
$ColorGeoVille: #353535;
$ColorBgVille: #eaeaea;
$ColorBgPresent: #f6f6f6;
$ColorPremier: #9356dc;
$ColorSecond: #ff79da;
$ColorTertiaire: #99e2d0;