@import "_variables.scss";
@import "_mixin.scss";
@import "_keyframes.scss";

html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.iBack {
  font-size: 2vh;
  position: absolute;
  @media screen and (min-width: 600px) {
    left: 1vw;
  }
  left: 2vh;
  a {
    color: black;
  }
}

#imglogo {
    display: flex;
    align-items: center;
    height: 6vh;
    max-width: 80%;
    @include aligncenterblock;
  }
  
  header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    @include aligncenterblock;
    .logo {
      margin: 1vh 0;
      @include aligncenterblock;
    }
    @media screen and (min-width: $GrandEcrans) {
      width: $GrandEcrans;
    }
  }

.photoMenu {
  position: relative;
  margin-bottom: -4vh;
  z-index: 1;
  img {
    object-fit: cover;
    width: 100%;
    height: 35vh;
  }
}

.carte {
  @media screen and (min-width: $GrandEcrans) {
    width: $GrandEcrans;
    @include aligncenterblock;
  }
  position: relative;
  z-index: 2;
  display: flex;
  background-color: $ColorBgPresent;
  border-top-left-radius: 4vh;
  border-top-right-radius: 4vh;
  width: 100%;
  .carteBox {
    position: relative;
    margin: 0 3vh;
    width: 100%;
  }
  h1 {
    margin: 3vh 0;
    font-family: 'Shrikhand', cursive;
    font-size: 4vh;
  }  
  a {
    text-decoration: none;
    color: white;
  }
}

@include addLike;

$Tdecouvrire: 3s;
#entrees, #plat, #desserts {
  animation: decouvrire $Tdecouvrire;
  @include decouvrire;
  margin-bottom: 5vh;
  h2 {
    text-transform: uppercase;
    font-size: 3vh;
    font-weight: 300;
    margin: 0.5vh 0;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.sousligne {
  background: $ColorTertiaire;
  width: 8vh;
  height: 0.5vh;
}
 
.epd {
  animation: SlideTop 1.5s;
  @include SliderTop; /* KEYFRAME POUR SliderTop */
  overflow: hidden; /* pour voir functionnement fait commentaire */
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2vh 0;
  padding: 2vh;
  background-color: white;
  border-radius: 3vh;
  box-shadow: 0 0 6px 3px #E6E6E6;
  transition-duration: $TflashBoxLeft;
  .titre1 {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5vh;
    font-size: 2.5vh;
    font-weight: 600;
    width: 100%;
    transition-duration: $TflashBoxLeft;
  }
  .titre2 {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2.1vh;
    font-weight: 400;
    width: 85%;
    transition-duration: $TflashBoxLeft;
  }
  .prix {
    font-size: 2.5vh;
    font-weight: 600;
    position: absolute;
    right: 2vh;
    bottom: 2vh;
    transition-duration: $TflashBoxLeft;
  }
  
  .flashBoxLeft {
    // object-position: right center;
    position: absolute;
    visibility: visible;
    display: flex;
    float: right;
    width: $SflashBoxLeft;
    height: 105%;
    margin-right: -$SflashBoxLeft;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-around;
    background-color: $ColorTertiaire;
    color: white;
    transition-duration: $TflashBoxLeft;
    i {
      font-size: 4vh; 
    }     
  } 

  &:hover .flashBoxLeft {
    transform: translateX(-1vh);
    margin-right: -1vh;
  }
  &:hover .prix {
      right: calc(#{$SflashBoxLeft} + 2vh);
    }
  &:hover .titre2 {
    width: 65%;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
  }
  &:hover .titre1 {
    width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }  
  &:hover i {
    animation-name: validateur;
    animation-duration: $TflashBoxLeft ;
  }
  @include validateur;
}

#command {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(360deg, $ColorPremier, $ColorSecond);
  font-size: 2.2vh;
  font-weight: 500;
  margin: 5vh auto 10vh auto;
  padding: 2vh 3vh;
  border-radius: 3vh;
  width: 35%;
}



footer {
  width: 100%;
  background-color: #353535;
  color: white;
  font-size: 2vh;
  font-weight: 400px;
  img {
    margin: 3vh;
    width: 30%;
    filter: invert(100%); 
  }
}

.divBlock {
  padding: 1vh 0 4vh 0;
  position: relative;
  display: flex;
  flex-direction: column;
  @include aligncenterblock;
  @media screen and (min-width: 600px) {
    width: 600px;  
  }
}

.linkFooter, .titleShrikhand  {
  margin: 0.5vh 3vh;
  color: white;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $ColorPremier;
    } 
  }
  .withIco {
    position: absolute;
    left: 7vh;
  }
}

.titleShrikhand {
  font-family: 'Shrikhand', cursive;
  font-size: 4vh;
}

