html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.iBack {
  font-size: 2vh;
  position: absolute;
  left: 2vh;
}

@media screen and (min-width: 600px) {
  .iBack {
    left: 1vw;
  }
}

.iBack a {
  color: black;
}

#imglogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header .logo {
  margin: 1vh 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 600px) {
  header {
    width: 600px;
  }
}

.photoMenu {
  position: relative;
  margin-bottom: -4vh;
  z-index: 1;
}

.photoMenu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 35vh;
}

.carte {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
  border-top-left-radius: 4vh;
  border-top-right-radius: 4vh;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .carte {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.carte .carteBox {
  position: relative;
  margin: 0 3vh;
  width: 100%;
}

.carte h1 {
  margin: 3vh 0;
  font-family: 'Shrikhand', cursive;
  font-size: 4vh;
}

.carte a {
  text-decoration: none;
  color: white;
}

#addCarte:focus .iLike {
  -webkit-text-stroke: 0.1vh white;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #9356dc;
}

.iLike {
  position: absolute;
  top: 4vh;
  right: 2vh;
  font-size: 3vh;
  color: white;
  -webkit-text-stroke: 0.1vh black;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.iLike:hover {
  -webkit-text-stroke: 0.1vh white;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #9356dc;
}

#entrees, #plat, #desserts {
  margin-bottom: 5vh;
}

#entrees h2, #plat h2, #desserts h2 {
  text-transform: uppercase;
  font-size: 3vh;
  font-weight: 300;
  margin: 0.5vh 0;
}

#entrees a, #plat a, #desserts a {
  text-decoration: none;
  color: black;
}

.sousligne {
  background: #99e2d0;
  width: 8vh;
  height: 0.5vh;
}

.epd {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2vh 0;
  padding: 2vh;
  background-color: white;
  border-radius: 3vh;
  -webkit-box-shadow: 0 0 6px 3px #E6E6E6;
          box-shadow: 0 0 6px 3px #E6E6E6;
}

.epd .titre1 {
  margin-bottom: 0.5vh;
  font-size: 2.5vh;
  font-weight: 600;
  width: 100%;
}

.epd .titre2 {
  font-size: 2.1vh;
  font-weight: 400;
  width: 85%;
}

.epd .prix {
  font-size: 2.5vh;
  font-weight: 600;
  position: absolute;
  right: 2vh;
  bottom: 2vh;
}

#command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(360deg, #9356dc, #ff79da);
  font-size: 2.2vh;
  font-weight: 500;
  margin: 5vh auto 10vh auto;
  padding: 2vh 3vh;
  border-radius: 3vh;
  width: 35%;
}

footer {
  width: 100%;
  background-color: #353535;
  color: white;
  font-size: 2vh;
  font-weight: 400px;
}

footer img {
  margin: 3vh;
  width: 30%;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.divBlock {
  padding: 1vh 0 4vh 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 600px) {
  .divBlock {
    width: 600px;
  }
}

.linkFooter, .titleShrikhand {
  margin: 0.5vh 3vh;
  color: white;
}

.linkFooter a, .titleShrikhand a {
  text-decoration: none;
  color: white;
}

.linkFooter a:hover, .titleShrikhand a:hover {
  color: #9356dc;
}

.linkFooter .withIco, .titleShrikhand .withIco {
  position: absolute;
  left: 7vh;
}

.titleShrikhand {
  font-family: 'Shrikhand', cursive;
  font-size: 4vh;
}
/*# sourceMappingURL=menu.css.map */