@charset "UTF-8";
/* width dans le FlashBoxLeft */
/* duration du block validation avec l'icône check-circle sortant de gauche  */
/* Espace entre chaque élément dans les sous-blocks du fonctionnement */
/* Coefficient si vous voulez réduit ou agrandit espaces entre les sous-blocks du fonctionnement*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  background: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    z-index: 3;
  }
  75% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: 3;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 3;
  }
  75% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: 3;
  }
}

.loader .icoWhile .fa-pizza-slice, .loader .icoWhile .fa-hamburger, .loader .icoWhile .fa-cheese, .loader .icoWhile .fa-coffee {
  opacity: 0;
  -webkit-animation-name: iLoader;
          animation-name: iLoader;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  font-size: 5vh;
}

.loader .icoWhile .fa-pizza-slice {
  color: #9356dc;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.loader .icoWhile .fa-hamburger {
  color: #ff79da;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.loader .icoWhile .fa-cheese {
  color: #99e2d0;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.loader .icoWhile .fa-coffee {
  color: #9356dc;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

@-webkit-keyframes iLoader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
}

@keyframes iLoader {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
}

.titleShrikhandLoader {
  opacity: 0;
  -webkit-animation-name: iLoaderNameResto;
          animation-name: iLoaderNameResto;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  position: relative;
  top: 5vh;
  color: black;
  font-size: 4vh;
  font-family: "Shrikhand", cursive;
}

@-webkit-keyframes iLoaderNameResto {
  0% {
    opacity: 1;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes iLoaderNameResto {
  0% {
    opacity: 1;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.iBack {
  font-size: 2vh;
  position: absolute;
  left: 2vh;
}

@media screen and (min-width: 769px) {
  .iBack {
    left: 1vw;
  }
}

.iBack a {
  color: black;
}

.iGeo {
  margin-right: 1vh;
  position: relative;
  color: #353535;
  font-size: 2.5vh;
}

.iFx {
  /* positionement ICONE dans Fonctionnement. */
  position: absolute;
  left: calc(4.5vh * 1.3 * 1);
  color: #7e7e7e;
  font-size: 3vh;
}

#imglogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header .logo {
  margin: 1vh 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 769px) {
  header {
    width: calc(769px - 100px);
  }
}

.sousheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 4.5vh;
}

.geoloc {
  background-color: #eaeaea;
  font-weight: 600;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.presentation {
  background-color: #f6f6f6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blocksousheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vh 0;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 769px) {
  .blocksousheader {
    width: calc(769px - 100px);
  }
}

.blocksousheader .l1 {
  margin: 2vh 0;
  font-weight: 900;
  width: 70%;
  font-size: 3vh;
}

.blocksousheader .l2 {
  margin: 2vh 0;
  font-weight: 400;
  width: 90%;
  font-size: 2.5vh;
}

.blocksousheader #explorerResto {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(360deg, #9356dc, #ff79da);
  font-size: 2.2vh;
  font-weight: 500;
  margin: 2vh 0;
  padding: 2vh 3vh;
  border-radius: 3vh;
}

.blocksousheader button {
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(360deg, #9356dc, #ff79da);
  padding: 2vh 5vw 1.8vh 5vw;
  border-radius: 3vh;
  font-size: 2.2vh;
  font-weight: 600;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2vh 0;
}

.blocksousheader a {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: white;
}

.blocksousheader input {
  border-radius: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eaeaea;
  border: none;
  outline: none;
  font-size: 2.5vh;
  font-weight: 700;
  text-align: center;
  color: #353535;
  width: 55%;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

@media screen and (min-width: 769px) {
  .blocksousheader input {
    width: 50%;
  }
}

.blocksousheader input:not(:focus):invalid {
  background-color: #FF8585;
}

.blocksousheader input::-webkit-calendar-picker-indicator {
  display: none;
}

.fonctionemment {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 769px) {
  .fonctionemment {
    width: calc(769px - 100px);
  }
}

.titleFx {
  margin: 3vh;
  font-size: 3vh;
  font-weight: 600;
}

ol {
  padding: 0 7vh;
  list-style-type: none;
  counter-reset: compter;
}

li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3vh 0;
  -webkit-box-shadow: 0 5px 10px 2px #ebebeb;
          box-shadow: 0 5px 10px 2px #ebebeb;
  font-size: 2.2vh;
  font-weight: 500;
  height: 10vh;
  border-radius: 2.5vh;
  background-color: #f6f6f6;
}

li:before {
  content: counter(compter);
  /* cout */
  counter-increment: compter;
  /* incriment */
  background: #9356dc;
  color: white;
  padding: 1vh 1.72vh;
  border-radius: 50%;
  position: relative;
  left: -1.72vh;
}

li:hover {
  font-size: 2.2vh;
  font-weight: 700;
}

li:hover .iFx {
  color: #9356dc;
}

.linkFx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: -4.5vh;
  width: 100%;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

.textFx {
  position: relative;
  left: calc(4.5vh * 1.3 * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: calc(100% - (4.5vh * 1.3 * 2 - 5vh));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

#menuResto {
  background-color: #f6f6f6;
  padding: 5vh 0;
}

@media screen and (min-width: 769px) {
  .divMenuResto {
    width: calc(769px - 100px);
    margin-left: auto;
    margin-right: auto;
  }
}

.divMenuResto a {
  text-decoration: none;
  color: black;
}

.divMenuResto a:hover + img {
  -o-object-position: 1px 1px;
     object-position: 1px 1px;
}

.titleMenu {
  margin: 3vh;
  font-size: 3vh;
  font-weight: 600;
}

.carteResto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin: 0 3vh 3vh 3vh;
  border-radius: 2.5vh;
  -webkit-box-shadow: 0 0 5px 2px #ebebeb;
          box-shadow: 0 0 5px 2px #ebebeb;
}

.carteResto img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 25vh;
  border-top-left-radius: 2.5vh;
  border-top-right-radius: 2.5vh;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.carteResto:hover img {
  -o-object-position: 1px 1px;
     object-position: 1px 1px;
}

.labelNew {
  position: absolute;
  background-color: #99e2d0;
  color: #068b6b;
  padding: 1vh 2vh;
  border-radius: 0.5vh;
  font-size: 2vh;
  right: 2vh;
  top: 2vh;
}

.discription {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2vh;
}

.addCarte:focus .iLike {
  -webkit-text-stroke: 0vh white;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.iLike {
  position: absolute;
  color: white;
  -webkit-text-stroke: 0.1vh black;
  -webkit-transition: 600ms;
  transition: 600ms;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.iLike:hover {
  -webkit-text-stroke: 0vh white;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  bottom: 2vh;
  right: 4vh;
  font-size: 3vh;
}

.menu {
  top: 3.5vh;
  right: 3vh;
  font-size: 4vh;
}

.titleCarte,
.titleResto {
  margin: 0.5vh 0;
  font-size: 2.5vh;
}

footer {
  width: 100%;
  background-color: #353535;
  color: white;
  font-size: 2vh;
  font-weight: 400;
}

.divBlock {
  padding: 1vh 0 4vh 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 769px) {
  .divBlock {
    width: calc(769px - 100px);
  }
}

.linkFooter,
.titleShrikhand, .titleShrikhandLoader {
  margin: 0.5vh 3vh;
}

.linkFooter a,
.titleShrikhand a, .titleShrikhandLoader a {
  text-decoration: none;
  color: white;
}

.linkFooter a:hover,
.titleShrikhand a:hover, .titleShrikhandLoader a:hover {
  color: #9356dc;
}

.linkFooter .withIco,
.titleShrikhand .withIco, .titleShrikhandLoader .withIco {
  position: absolute;
  left: 7vh;
}

.titleShrikhand {
  color: white;
  font-size: 4vh;
  font-family: "Shrikhand", cursive;
}
/*# sourceMappingURL=style.css.map */