@import "_variables.scss";
@import "_mixin.scss";
@import "_keyframes.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation-name: loader;
  animation-duration: 3s;
  @include loader;
  .icoWhile {
    .fa-pizza-slice, .fa-hamburger, .fa-cheese, .fa-coffee {
      // position: absolute;
      opacity: 0;
      animation-name: iLoader;
      animation-duration: 500ms;
      font-size: 5vh;
    }
    .fa-pizza-slice {
      color: $ColorPremier;
      animation-delay: 500ms;
    }
    .fa-hamburger {
      color: $ColorSecond;
      animation-delay: 1000ms;
    }
    .fa-cheese {
      color: $ColorTertiaire;
      animation-delay: 1500ms;
    }
    .fa-coffee {
      color: $ColorPremier;
      animation-delay: 2000ms;
    }
    @include iLoader;  
  }
    
}

.titleShrikhandLoader {
  opacity: 0;
  animation-name: iLoaderNameResto;
  animation-duration: 3000ms;
  position: relative;
  top: 5vh;
  color: black;
  font-size: 4vh;
  font-family: "Shrikhand", cursive;
}
@include iLoaderNameResto;


.iBack {
  font-size: 2vh;
  position: absolute;
  @media screen and (min-width: 600px) {
    left: 1vw;
  }
  left: 2vh;
  a {
    color: black;
  }
}

.iGeo {
  margin-right: 1vh;
  position: relative;
  color: $ColorGeoVille;
  font-size: 2.5vh;
  // margin-right: 3vh;
}

.iFx {
  position: absolute;
  left: 6vh;
  color: #7e7e7e;
  font-size: 3vh;
}

#imglogo {
  display: flex;
  align-items: center;
  height: 6vh;
  max-width: 80%;
  @include aligncenterblock;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  @include aligncenterblock;
  .logo {
    margin: 1vh 0;
    @include aligncenterblock;
  }
  @media screen and (min-width: $GrandEcrans) {
    width: $GrandEcrans;
  }
}

.sousheader {
  display: flex;
  width: 100%;
  font-size: 4.5vh;
}

.geoloc {
  background-color: $ColorBgVille;
  font-weight: 600;
  flex-direction: row;
}

.presentation {
  background-color: $ColorBgPresent;
  flex-direction: column;
}

.blocksousheader {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  padding: 2vh 0;
  width: 100%;
  @media screen and (min-width: $GrandEcrans) {
    width: $GrandEcrans;
  }
  text-align: center;
  @include aligncenterblock;
  justify-content: center;
  .l1 {
    margin: $marginItemSousheader;
    font-weight: 900;
    width: 70%;
    font-size: 3vh;
  }
  .l2 {
    margin: $marginItemSousheader;
    font-weight: 400;
    width: 90%;
    font-size: 2.5vh;
  }
  #explorerResto {
    background: linear-gradient(360deg, $ColorPremier, $ColorSecond);
    font-size: 2.2vh;
    font-weight: 500;
    margin: $marginItemSousheader;
    padding: 2vh 3vh;
    border-radius: 3vh;
  }
  button {
    background: linear-gradient(360deg, $ColorPremier, $ColorSecond);
    padding: 2vh 5vw 1.8vh 5vw;
    border-radius: 3vh;
    font-size: 2.2vh;
    font-weight: 600;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin: $marginItemSousheader;
  }
  a {
    @include aligncenterblock;
    text-decoration: none;
    color: white;
  }
  input {
    border-radius: 2vh;
    display: flex;
    background-color: $ColorBgVille;
    border: none;
    outline: none;
    font-size: 2.5vh;
    font-weight: 700;
    text-align: center;
    color: $ColorGeoVille;
    width: 55%;
    @media screen and (min-width: $GrandEcrans) {
      width: 50%;
    }
    transition-duration: 300ms;
    &:not(:focus):invalid {
      background-color: $ColorError;
    }
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}
// FIN DEBUT CHOIX

.fonctionemment {
  @include aligncenterblock;
  @media screen and (min-width: 600px) {
    width: 600px;
  }
}

.titleFx {
  margin: 3vh;
  font-size: 3vh;
  font-weight: 600;
}

ol {
  padding: 0 7vh;
  list-style-type: none;
  counter-reset: compter;
}

li {
  position: relative;
  display: flex;
  align-items: center;
  margin: 3vh 0;
  box-shadow: 0 5px 10px 2px #ebebeb;
  font-size: 2.2vh;
  font-weight: 500;
  height: 10vh;
  border-radius: 2.5vh;
  background-color: $ColorBgPresent;
  &:before {
    content: counter(compter); /* cout */
    counter-increment: compter; /* incriment */
    background: $ColorPremier;
    color: white;
    padding: 1vh 1.72vh;
    border-radius: 50%;
    margin-right: 8vh;
    position: relative;
    left: -1.72vh;
  }
}

.buttonFx {
  text-decoration: none;
  color: black;
}

#menuResto {
  background-color: #f6f6f6;
  padding: 5vh 0;
}

.divMenuResto {
  @media screen and (min-width: 600px) {
    width: $GrandEcrans;
    @include aligncenterblock;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover + img {
      object-position: 1px 1px;
    }
  }
}

.titleMenu {
  margin: 3vh;
  font-size: 3vh;
  font-weight: 600;
}

.carteResto {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  margin: 0 3vh 3vh 3vh;
  border-radius: 2.5vh;
  box-shadow: 0 0 5px 2px #ebebeb;
  img {
    object-fit: cover;
    width: 100%;
    height: 25vh;
    border-top-left-radius: 2.5vh;
    border-top-right-radius: 2.5vh;
    transition-duration: 2s;
    // &:focus {
    //   object-position: 0 0;
    // }
    // &:hover {
    //   object-position: 0 0;
    // }
  }
  &:hover img {
    object-position: 1px 1px;
  }
}

.labelNew {
  position: absolute;
  background-color: #99e2d0;
  color: #068b6b;
  padding: 1vh 2vh;
  border-radius: 0.5vh;
  font-size: 2vh;
  right: 2vh;
  top: 2vh;
}

// .imgCarte {

// }

.discription {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2vh;
}

@include addLike;

.titleCarte,
.titleResto {
  margin: 0.5vh 0;
  font-size: 2.5vh;
}

footer {
  width: 100%;
  background-color: #353535;
  color: white;
  font-size: 2vh;
  font-weight: 400;
  img {
    margin: 3vh;
    width: 30%;
    filter: invert(100%);
  }
}

.divBlock {
  padding: 1vh 0 4vh 0;
  position: relative;
  display: flex;
  flex-direction: column;
  @include aligncenterblock;
  @media screen and (min-width: 600px) {
    width: 600px;
  }
}

.linkFooter,
.titleShrikhand, .titleShrikhandLoader {
  margin: 0.5vh 3vh;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: $ColorPremier;
    }
  }
  .withIco {
    position: absolute;
    left: 7vh;
  }
}

.titleShrikhand {
  color: white;
  font-size: 4vh;
  font-family: "Shrikhand", cursive;
}

